.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  /* font-family: 'Poppins', sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding: 15px;
  border-bottom: 5px solid #1f1f1f;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  gap: 0px;
}

a {
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  padding: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: white;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
